* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 620px;
  margin: 0 auto;
}

article {
  width: 100px;
  height: 200px;
  margin: 20px 0 0 20px;
  background-color: #808080;
}

@media (max-width: 1023px) {
   main {
     width: 500px;
   }
}

@media (max-width: 639px) {
   main {
     width: 380px;
   }
}
