* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: space-between; */
  width: 620px;
}

article {
  width: 100px;
  height: 200px;
  margin: 20px 0 0 20px;
  background-color: #808080;
}
